body{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.blogholder {
    position: relative;
    margin-top: 200vh;
    height: 60vh;
    overflow-y: scroll;
    background: rgb(47,53,66);
    background: linear-gradient(180deg, rgba(47,53,66,1) 0%, rgba(37,41,51,1) 30%);
    border-radius: 0.7vw;
    scrollbar-width: none;
}

.blog {
    display:inline-block;
    position: inherit;
    border-radius: 25px;
    background: #444c5d;
    padding: 20px; 
    border-spacing: 10px;
    margin: 1vw;
    width: 90vw;
    text-decoration: none;
    left: 1.75vw;
    top: 0px;
    transition: top 0.5s ease, rotate 0.5s ease, filter 0.3s ease;
}

.blog:hover {
    top: -12px;
    rotate: 0.2deg;
    filter: drop-shadow(20px 20px 10px #171a21);
    transition: top 0.5s ease, rotate 0.5s ease, filter 0.3s ease;
}



.blog .title {
    color: #ffae00;
    font-size: 120%;
    font-style: italic;
    
    
}

.blog .desc {
    size: 0cm;
    color:rgb(148, 173, 173);
}


.animated-text{
    position: absolute;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    left: 20vw;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Game Dev";
    color: #006a41;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid #006a41;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Game dev";
    }
    21%,40%{
        content: "Game Engine dev";
    }
    41%,60%{
        content: "Developer";
    }
    61%,80%{
        content: "Programmer";
    }
    81%,100%{
        content: "Developer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.holderTitle {
    position: absolute;
    bottom: -15vh;
    font-size: x-large;
}


.titlebar {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 10vh;
    width: 100%;
    
    background: rgb(47,53,66);
    background: linear-gradient(180deg, #242832 70%, rgba(47,53,66,1) 100%);
    background-color: #242832;

}
.BlogsButton {
    position: absolute;
    top: 3vh;
    right: 4vw;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: font-size 0.2s ease-in-out, rotate 0.2s ease-in, text-shadow 0.2s ease-in;
}

.BlogsButton:hover {
    font-size: xx-large;
    rotate: 2deg;
    text-shadow: #dcdcdc 0px 0 20px;
    transition: font-size 0.2s ease-in-out, rotate 0.2s ease-in, text-shadow 0.2s ease-in;

}

.CatosDocs {
    position: absolute;
    top: 2vh;
    left: 4vw;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    rotate: 0deg;
    transition: font-size 0.2s ease-in-out, rotate 0.2s ease-in;
}




.CatosDocs:hover {
    font-size: xx-large;
    rotate: 5deg;
    text-shadow: #dcdcdc 0px 0 20px;
    transition: font-size 0.2s ease-in-out, rotate 0.2s ease-in, text-shadow 0.2s ease-in;
}

.Computer {
    position: absolute;
    right: 1vw;
}